<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ja">

<head>
    <title>課題の追加｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h6 class="text-navy my-2">
                課題の追加
            </h6>
            <form th:action="@{/projects/{projectKey}/add(projectKey=${project.projectKey})}"
                  th:object="${issue}"
                  method="post"
                  novalidate>　
                <button type="submit">
                    追加
                </button>
                <div th:replace="~{fragments/issue-form :: issue-form(${issue})}">
                </div>
                <button type="submit">
                    追加
                </button>
            </form>
        </div>
    </div>
    <div th:if="${message}"
         th:class="'mt-4 mx-4 alert alert-dismissible fade show alert-' + ${alertType}"
         role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
</body>
</html>

