<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>課題の追加｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header">
                    <h6 class="text-navy my-2">
                        課題の追加
                    </h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/projects/add}"
                          th:object="${issue}"
                          method="post"
                          novalidate>
                        <div>
                            <select th:field="*{type}">
                                <option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="title">
                                件名
                            </label>
                            <input type="text"
                                   th:field="*{title}">
                        </div>
                        <div>
                            <label for="description">
                                詳細
                            </label>
                            <input type="text"
                                   th:field="*{description}">
                        </div>
                        <div>
                            <label for="status">状態</label>
                            <select id="status" th:field="*{status}">
                                <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="priority">優先度</label>
                            <select id="priority" th:field="*{priority}">
                                <option th:each="p : ${priorities}" th:value="${p}" th:text="${p}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="milestone">マイルストーン</label>
                            <select id="milestone" th:field="*{milestone}">
                                <option th:each="m : ${milestones}" th:value="${m.id}"
                                        th:text="${m.getName()}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="category">カテゴリー</label>
                            <select id="category" th:field="*{category}">
                                <option th:each="c : ${categories}" th:value="${c.id}"
                                        th:text="${c.getName()}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="plannedStartDate">開始予定日</label>
                            <input type="date" id="plannedStartDate" th:field="*{plannedStartDate}"/>
                        </div>
                        <div>
                            <label for="plannedEndDate">終了予定日</label>
                            <input type="date" id="plannedEndDate" th:field="*{plannedEndDate}"/>
                        </div>
                        <button type="submit">
                            登録
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

