<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>ダッシュボード｜Backlog</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h1>プロジェクト</h1>
            <table class="table">
                <tbody>
                <tr th:each="project : ${projects}"
                    th:object="${project}">
                    <td>
                        <a class="col text-decoration-none"
                           th:href="@{/projects/{projectKey}/home(projectKey=*{projectKey})}">
                            <p th:text="*{name}"></p>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h1>自分の課題</h1>
        </div>
        <div class="col">
            <h1>最近の更新</h1>
        </div>
    </div>
</div>
</body>
</html>