<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout-without-menu}">
<head>
    <meta charset="UTF-8">
    <title>ダッシュボード｜Backlog</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <h6>プロジェクト</h6>
            <table class="table">
                <tbody>
                <tr th:each="project : ${projects}"
                    th:object="${project}">
                    <td>
                        <a class="col text-decoration-none"
                           th:href="@{/projects/{projectKey}/home(projectKey=*{projectKey})}">
                            <p th:text="*{name}"></p>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h6>自分の課題</h6>
            <table class="table">
                <thead>
                <tr>
                    <th>キー</th>
                    <th>件名</th>
                    <th>優先度</th>
                    <th>状態</th>
                    <th>期限日</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="issue : ${issues}"
                    th:object="${issue}">
                    <td>
                        <a th:href="@{/projects/{projectKey}/view/{issueNumber}(projectKey=${issue.project.projectKey}, issueNumber=*{id.getIssueNumber()})}"
                           th:text="${issue.getIssueKey()}"></a>
                    </td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{priority}"></td>
                    <td>
                        <div th:replace="~{fragments/badge :: issue-status(*{status})}"></div>
                    </td>
                    <td th:text="*{#temporals.format(limitDate, 'yyyy/MM/dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h6>最近の更新</h6>
            <div th:replace="~{fragments/timeline :: timeline(${logMap})}"></div>
        </div>
    </div>
</div>
</body>
</html>