<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>課題の検索｜Backlog</title>
</head>

<body>
<div layout:fragment="content" class="overflow-x-scroll">
    <div class="container" style="font-size: small">
        <form id="searchForm" th:action="@{/projects/{projectKey}/find(projectKey=${project.projectKey})}" method="get">
            <div class="row align-items-center mb-2">
                <label class="col-auto">状態:</label>
                <div class="col d-flex flex-wrap justify-content-start">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="status" value="0"
                               th:checked="${status != null and status.contains('0')}"
                               onchange="updateQueryAndSubmit('status')">
                        <label class="form-check-label">未対応</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="status" value="1"
                               th:checked="${status != null and status.contains('1')}"
                               onchange="updateQueryAndSubmit('status')">
                        <label class="form-check-label">処理中</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="status" value="2"
                               th:checked="${status != null and status.contains('2')}"
                               onchange="updateQueryAndSubmit('status')">
                        <label class="form-check-label">処理済み</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="status" value="3"
                               th:checked="${status != null and status.contains('3')}"
                               onchange="updateQueryAndSubmit('status')">
                        <label class="form-check-label">完了</label>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <label class="col-auto">優先度:</label>
                <div class="col d-flex flex-wrap justify-content-start">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="priority" value="0"
                               th:checked="${priority != null and priority.contains('0')}"
                               onchange="updateQueryAndSubmit('priority')">
                        <label class="form-check-label">高</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="priority" value="1"
                               th:checked="${priority != null and priority.contains('1')}"
                               onchange="updateQueryAndSubmit('priority')">
                        <label class="form-check-label">中</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="priority" value="2"
                               th:checked="${priority != null and priority.contains('2')}"
                               onchange="updateQueryAndSubmit('priority')">
                        <label class="form-check-label">低</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div th:if="${issues.size() == 0}">
        該当データがありません
    </div>
    <div th:if="${issues.size() > 0}" class="" style="font-size: small">
        <table id="issue-table" class="table table-striped">
            <thead class="border-bottom border-dark">
            <tr>
                <th class="text-center" style="min-width: 80px;">種類</th>
                <th class="text-center" style="min-width: 50px;">キー</th>
                <th class="text-center" style="min-width: 200px;">件名</th>
                <th class="text-center" style="min-width: 100px;">担当者</th>
                <th class="text-center" style="min-width: 80px;">状態</th>
                <th class="text-center" style="min-width: 80px;">カテゴリ</th>
                <th class="text-center" style="min-width: 60px;">優先度</th>
                <th class="text-center" style="min-width: 150px;">発生バージョン</th>
                <th class="text-center" style="min-width: 150px;">マイルストーン</th>
                <th class="text-center" style="min-width: 70px;">登録日</th>
                <th class="text-center" style="min-width: 70px;">期限日</th>
                <th class="text-center" style="min-width: 70px;">更新日</th>
                <th class="text-center" style="min-width: 100px;">登録者</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}"
                th:object="${issue}">
                <td>
                    <div th:replace="~{fragments/badge :: issue-type(*{type})}"></div>
                </td>
                <td>
                    <a th:href="@{/projects/{projectKey}/view/{issueId}(projectKey=${project.projectKey}, issueId=*{id})}"
                       th:text="${issue.getIssueKey()}"></a>
                </td>
                <td th:text="*{title}"></td>
                <td th:text="*{assigner?.username ?: ''}"></td>
                <td>
                    <div th:replace="~{fragments/badge :: issue-status(*{status})}"></div>
                </td>
                <td th:text="*{category?.name ?: ''}"></td>
                <td th:text="*{priority}"></td>
                <td th:text="*{versions?.name ?: ''}"></td>
                <td th:text="*{milestone?.name ?: ''}"></td>
                <td th:text="*{#temporals.format(createAtJST(), 'yyyy/MM/dd')}"></td>
                <td th:text="*{#temporals.format(limitDate, 'yyyy/MM/dd')}"></td>
                <td th:text="*{#temporals.format(updatedAtJST(), 'yyyy/MM/dd')}"></td>
                <td th:text="*{voter?.username ?: ''}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

