<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>課題の検索｜Backlog</title>
    <script>
        function updateQueryParam(name, value) {
            let form = document.getElementById("searchForm");
            let url = new URL(window.location.href);
            url.searchParams.set(name, value);

            // form の hidden input も更新
            let input = document.querySelector(`input[name="${name}"]`);
            if (input) {
                input.value = value;
            }

            form.submit(); // 自動で送信
        }

        function handleRadioChange(event) {
            updateQueryParam(event.target.name, event.target.value);
        }

        function handleSelectChange(event) {
            updateQueryParam(event.target.name, event.target.value);
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-body">
                    <div>
                        <form id="searchForm" action="/projects/find" method="get">
                            <label>状態:</label>
                            <input type="radio" name="status" value="1"
                                   th:checked="${param.status == 1}"
                                   onchange="handleRadioChange(event)"> 未対応
                            <input type="radio" name="status" value="2"
                                   th:checked="${param.status == 2}"
                                   onchange="handleRadioChange(event)"> 処理中
                            <input type="radio" name="status" value="3"
                                   th:checked="${param.status == 3}"
                                   onchange="handleRadioChange(event)"> 処理済み
                            <input type="radio" name="status" value="4"
                                   th:checked="${param.status == 4}"
                                   onchange="handleRadioChange(event)"> 完了

                            <button type="submit">検索</button>
                        </form>
                    </div>

                    <div th:if="${issues.size() == 0}">
                        該当データがありません
                    </div>

                    <table th:if="${issues.size() > 0}"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>種別</th>
                            <th>キー</th>
                            <th>件名</th>
                            <th>状態</th>
                            <th>優先度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="issue : ${issues}"
                            th:object="${issue}">
                            <td th:text="*{type}"></td>
                            <td>
                                <a th:href="@{/projects/view/{issueId}(issueId=*{id})}" th:text="*{id}">id</a>
                            </td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{status}"></td>
                            <td th:text="*{priority}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>

