<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>課題の検索｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header">
                    <h6 class="text-navy my-2">
                        プロジェクトホーム
                    </h6>
                </div>
                <div class="card-body">

                    <div th:if="${issues.size() == 0}">
                        該当データがありません
                    </div>

                    <table th:if="${issues.size() > 0}"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>種別</th>
                            <th>キー</th>
                            <th>件名</th>
                            <th>状態</th>
                            <th>優先度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="issue : ${issues}"
                            th:object="${issue}">
                            <td th:text="*{type}"></td>
                            <td>
                                <a th:href="@{/projects/view/{issueId}(issueId=*{id})}" th:text="*{id}">id</a>
                            </td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{status}"></td>
                            <td th:text="*{priority}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>

