<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        lang="ja">

<head>
    <title>ガントチャート｜Backlog</title>

</head>

<body>
<div layout:fragment="content">
    <div class="card-body table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>名称</th>
                <th>開始予定日</th>
                <th>開始終了日</th>
                <th>実績開始日</th>
                <th>実績終了日</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}" th:object="${issue}">
                <td>
                    <a th:href="@{/projects/{projectKey}/view/{issueNumber}(projectKey=${project.projectKey}, issueNumber=*{id.getIssueNumber()})}"
                       th:text="${issue.getIssueKey()}"></a>
                </td>
                <td th:text="${issue.plannedStartDate}"></td>
                <td th:text="${issue.limitDate}"></td>
                <td th:text="${issue.acutualStartDate}"></td>
                <td th:text="${issue.acutualEndDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="chartCard">
        <div class="chartBox">
            <canvas id="myChart"></canvas>
            <input type="month" onchange="chartFilter(this)"/>
            <!--            <br>-->
            <!--            <br>-->
            <hr>
            <!--            <br>-->
            <input type="text" id="nameTask" list="tasks"/>
            <datalist id="tasks">
            </datalist>
            <input type="date" id="startDateTask"/>
            <input type="date" id="endDateTask"/>
            <input type="text" id="teamMemberTask" list="names"/>
            <datalist id="names">
            </datalist>
            <select id="statusTask">
                <option value="0">Delayed</option>
                <option value="1">Pending</option>
                <option value="2">Complete</option>
            </select>
            <button onclick="addTask()">Add Task</button>
            <!--            <br>-->
            <!--            <br>-->
            <hr>
            <!--            <br>-->
            <select id="minTask" onchange="showTask()">
                <option selected value="0">Task 1</option>
                <option value="1">Task 2</option>
                <option value="2">Task 3</option>
                <option value="3">Task 4</option>
            </select>
            <select id="maxTask" onchange="showTask()">
                <option value="5">Task 6</option>
                <option value="6">Task 7</option>
                <option value="7">Task 8</option>
                <option selected value="8">Task 9</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>

