<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<body>
<nav layout:fragment="header" class="header navbar navbar-fixed-top" style="padding-right: 50px">
    <div>
        <a>ヘッダー部分</a>
    </div>
    <div>
        <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="true">
                <span th:text="${username}"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/projects/profile}">プロフィール</a></li>
                <li><a class="dropdown-item" th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
