<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<body>
<nav id="header" layout:fragment="header" class="header mw-100 d-flex mb-3 border-bottom border-2">
    <div class="pb-2">
        <i class="bi bi-building"></i>
    </div>
    <div id="dashboardLink" class="pb-2 h-75">
        <a th:href="@{/dashboard}" class="text-decoration-none">ダッシュボード</a>
    </div>
    <div class="dropdown ms-auto p-2" style="margin-top: -8px">
        <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-bs-toggle="dropdown"
                aria-expanded="true">
            <span th:text="${username}"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/global/profile}">プロフィール</a></li>
            <li><a class="dropdown-item" th:href="@{/logout}">ログアウト</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
