<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>レイアウトテスト用ページ</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header">
                    <h6 class="text-navy my-2">
                        プロジェクトホーム
                    </h6>
                </div>
                <div class="card-body">

                    <div th:if="${issues.size() == 0}">
                        該当データがありません
                    </div>

                    <table th:if="${issues.size() > 0}"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>タイトル</th>
                            <th>詳細</th>
                            <th>ステータス</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="issue : ${issues}"
                            th:object="${issue}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{status}"></td>
                            <td>
                                <a th:href="@{/edit/{id}(id=*{id})}"
                                   class="btn btn-navy">
                                    <i class="bi bi-pencil-square"></i>
                                    編集
                                </a>

                                <a th:href="@{/delete/{id}(id=*{id})}"
                                   class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                    削除
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>

