<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <!-- CSS読み込み -->
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/menu.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/layout/login.css}">
    <link rel="stylesheet" th:href="@{/css/layout/badge.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <title></title>
</head>

<body>

<!-- ヘッダー -->
<div>
    <div class="border-bottom" layout:replace="~{layout/header::header}"></div>
</div>

<!-- メニュー -->
<div>
    <div class="menu col-sm-2 ">
        <div layout:replace="~{layout/menu::menu}"></div>
    </div>
</div>

<!-- コンテンツ -->
<div>
    <div class="main-header border-bottom border-2 col-sm-10 offset-sm-2">
        <p class="fw-bold fs-6 menu-header-project-name"
           th:text="${project == null? '' : project.name + ' (' + project.projectKey + ')'}"></p>
    </div>
    <nav class="main col-sm-10 offset-sm-2">
        <div layout:fragment="content"></div>
    </nav>
</div>

<!-- フッター -->
<!--<div>-->
<!--    <div layout:replace="~{layout/footer::footer}"></div>-->
<!--</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
        $('#issue-table').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/ja.json"
            }
        });
    });
</script>
<script src="/js/script.js" defer></script>
<script>
    document.getElementById("comment-input-area").addEventListener("paste", async function (event) {
        let items = (event.clipboardData || event.originalEvent.clipboardData).items;

        for (let item of items) {
            if (item.kind === "file") {
                let file = item.getAsFile();
                let formData = new FormData();
                formData.append("file", file, "pasted.png");

                // CSRF トークン取得
                let csrfToken = document.querySelector('meta[name="_csrf"]').content;
                let csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

                try {
                    let response = await fetch("/upload2S3", {
                        method: "POST",
                        body: formData,
                        headers: {
                            [csrfHeader]: csrfToken // CSRF トークンをリクエストヘッダーに追加
                        }
                    });

                    if (!response.ok) {
                        throw new Error("ファイルアップロードに失敗しました");
                    }

                    let jsonResponse = await response.json();
                    console.log("アップロード成功:", jsonResponse);

                    // ファイルパスを取得
                    let fileUrl = jsonResponse.fileUrl;
                    console.log("保存先:", fileUrl);

                    // HTML に表示する場合
                    //document.getElementById("upload-area").value = "アップロードされたファイル: " + fileUrl;
                    //  document.getElementById("paste-area").innerHTML = jsonResponse.pathWithTag;
                    console.log(document.getElementById("comment-input-area").value);
                    document.getElementById("comment-input-area").value += "\n";
                    document.getElementById("comment-input-area").value += jsonResponse.pathWithTag;
                } catch (error) {
                    console.error("エラー:", error);
                }
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="/js/issueChart.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    const colors = ['rgba(255, 26, 104, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)']

    // setup
    const data = {
        // labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [{
            label: 'Weekly Sales',
            data: [
                {x: ['2025-05-02', '2025-05-06'], y: 'Task 1', name: 'James', status: 2},
                {x: ['2025-05-06', '2025-05-12'], y: 'Task 2', name: 'Luna', status: 2},
                {x: ['2025-05-08', '2025-05-12'], y: 'Task 3', name: 'David', status: 2},
                {x: ['2025-05-12', '2025-05-21'], y: 'Task 4', name: 'Lily', status: 1},
                {x: ['2025-05-15', '2025-05-24'], y: 'Task 5', name: 'Santiago', status: 0},
                {x: ['2025-05-18', '2025-05-30'], y: 'Task 6', name: 'James', status: 1},
                {x: ['2025-06-12', '2025-06-21'], y: 'Task 7', name: 'Lily', status: 1},
                {x: ['2025-06-15', '2025-06-24'], y: 'Task 8', name: 'Santiago', status: 0},
                {x: ['2025-06-18', '2025-06-30'], y: 'Task 9', name: 'James', status: 1},
            ],
            backgroundColor: (ctx) => {
                return colors[ctx.raw.status];
            },
            borderSkipped: false,
            borderRadius: 10,
            barPercentage: 0.5

        }]
    };

    const labelsArray = data.datasets[0].data.map((dataPoint, index) => {
        return dataPoint.y;
    });
    const labelsArrayFilter = [...new Set(labelsArray)];

    const todayLine = {
        id: 'todayLine',
        afterDatasetsDraw(chart, args, pluginOptions) {
            const {
                ctx, data, chartArea: {top, bottom, left, right},
                scales: {x, y}
            } = chart;

            ctx.save();

            ctx.beginPath();
            ctx.lineWidth = 3;
            ctx.strokeStyle = 'rgba(102, 102, 102, 1)';
            ctx.setLineDash([6, 6]);
            ctx.moveTo(x.getPixelForValue(new Date()), top);
            ctx.lineTo(x.getPixelForValue(new Date()), bottom);
            ctx.stroke();
            ctx.restore();

            ctx.setLineDash([]);

            ctx.beginPath();
            ctx.lineWidth = 1;
            ctx.strokeStyle = 'rgba(102, 102, 102, 1)';
            ctx.fillStyle = 'rgba(102, 102, 102, 1)';
            ctx.moveTo(x.getPixelForValue(new Date()), top + 3);
            ctx.lineTo(x.getPixelForValue(new Date()) - 6, top - 6);
            ctx.lineTo(x.getPixelForValue(new Date()) + 6, top - 6);
            ctx.closePath();
            ctx.stroke();
            ctx.fill();
            ctx.restore();

            ctx.font = 'bold 12px sans-serif';
            ctx.fillStyle = 'rgba(102, 102, 102, 1)';
            ctx.textAlign = 'center';
            ctx.fillText('Today', x.getPixelForValue(new Date()), bottom + 15);
            ctx.restore();


        }
    }
    const status = {
        id: 'status',
        afterDatasetsDraw(chart, args, pluginOptions) {
            const {
                ctx, data, options, chartArea: {top, bottom, left, right},
                scales: {x, y}
            } = chart;
            const icons = ['\uf00d', '\uf110', '\uf00c'];
            const angle = Math.PI / 180;
            const paddingRight = options.layout.padding.right;

            ctx.save();
            ctx.font = '900 16px "Font Awesome 6 Free"';
            ctx.textBaseline = 'middle';
            ctx.textAlign = 'center';

            data.datasets[0].data.forEach((datapoint, index) => {
                if (y.getPixelForValue(index) > top && y.getPixelForValue(index) < bottom) {

                    ctx.beginPath();
                    ctx.fillStyle = colors[datapoint.status];
                    ctx.arc(right + (paddingRight / 2), y.getPixelForValue(index), 12, 0, angle * 360, false);
                    ctx.closePath();
                    ctx.fill();
                    ctx.fillStyle = 'white';
                    ctx.fillText(icons[datapoint.status], right + 50, y.getPixelForValue(index));
                }
            });
            ctx.font = 'border 12px sans-serif';
            ctx.fillStyle = 'black';
            ctx.fillText('Status', right + (paddingRight / 2), top - 15);

            ctx.restore();

        }
    }

    const assignedTasks = {
        id: 'assignedTasks',
        afterDatasetsDraw(chart, args, pluginOptions) {
            const {
                ctx, data, chartArea: {top, bottom, left, right},
                scales: {x, y}
            } = chart;

            ctx.save();
            ctx.font = 'border 12px sans-serif';
            ctx.fillStyle = 'black';
            ctx.textBaseline = 'middle';
            ctx.textAlign = 'left';
            data.datasets[0].data.forEach((datapoint, index) => {
                if (y.getPixelForValue(index) > top && y.getPixelForValue(index) < bottom) {
                    ctx.fillText(datapoint.name, 10, y.getPixelForValue(index));
                }
            });
            ctx.fillText('Names', 10, top - 15);
            ctx.restore();

        }
    }

    // weekend
    const weekend = {
        id: 'weekend',
        afterDatasetsDraw(chart, args, pluginOptions) {
            const {
                ctx, chartArea: {top, bottom, left, right, width, height},
                scales: {x, y}
            } = chart;

            ctx.save();

            x.ticks.forEach((tick, index) => {
                const day = new Date(tick.value).getDay();
                if (day === 0 || day === 6) {
                    ctx.fillStyle = pluginOptions.weekendColor;
                    ctx.fillRect(x.getPixelForValue(tick.value), top, x.getPixelForValue(new Date(tick.value).setHours(24)) - x.getPixelForValue(tick.value), height);
                }
            })


        }
    }

    // config
    const config = {
        type: 'bar',
        data,
        options: {
            layout: {
                padding: {
                    left: 100,
                    right: 100,
                    bottom: 20
                }
            },

            indexAxis: 'y',
            scales: {
                x: {
                    position: 'top',
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'd'
                        }
                    },
                    min: '2025-05-01',
                    max: '2025-05-31'
                },
                y: {
                    min: 0,
                    max: 8,
                    labels: labelsArrayFilter,
                }
            },
            plugins: {
                weekend: {
                    weekendColor: 'rgba(102, 102, 102, 0.2)'
                },
                legend: {
                    display: false
                },
                tooltip: {
                    displayColors: false,
                    yAlign: 'bottom',
                    callbacks: {
                        label: (ctx) => {
                            return '';
                        },
                        title: (ctx) => {
                            console.log(ctx[0].raw.x)
                            const startDate = new Date(ctx[0].raw.x[0]);
                            const endDate = new Date(ctx[0].raw.x[1]);
                            const formattedStartDate = startDate.toLocaleString([], {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            });
                            const formattedEndDate = endDate.toLocaleString([], {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            });
                            return [ctx[0].raw.name, `Task Deadline: ${formattedStartDate} - ${formattedEndDate}`];
                        }
                    }
                }
            }
        },
        plugins: [todayLine, assignedTasks, status, weekend]
    };

    // render init block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    console.log(myChart)

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;

    function chartFilter(date) {
        const year = date.value.substring(0, 4);
        const month = date.value.substring(5, 7);
        const lastDay = (y, m) => {
            return new Date(y, m, 0).getDate();
        }

        const startDate = `${year}-${month}-01`;
        const endDate = `${year}-${month}-${lastDay(year, month)}`;

        myChart.config.options.scales.x.min = startDate;
        myChart.config.options.scales.x.max = endDate;
        myChart.update()

    }

    function addTask() {
        const nameTask = document.getElementById('nameTask');
        const startDateTask = document.getElementById('startDateTask');
        const endDateTask = document.getElementById('endDateTask');
        const teamMemberTask = document.getElementById('teamMemberTask');
        const statusTask = document.getElementById('statusTask');

        const arraylength = myChart.data.datasets[0].data.length;

        myChart.data.datasets[0].data[arraylength] = ({
                x: [startDateTask.value, endDateTask.value],
                y: nameTask.value,
                name: teamMemberTask.value,
                status: parseInt(statusTask.value)
            }
        );
        console.log(myChart.data)
        addNames();
        addTasks();

        myChart.update();
    }

    function addNames() {
        const names = document.getElementById('names');
        while (names.firstElementChild) {
            names.removeChild(names.firstElementChild);
        }
        const namesArray = myChart.data.datasets[0].data.map((dataPoint) => {
            return dataPoint.name
        })

        const namesArrayFilter = [...new Set(namesArray)];

        namesArrayFilter.forEach((memberName) => {
            const option = document.createElement('option');
            option.value = memberName;
            names.appendChild(option);
        })
    }

    addNames();

    function addTasks() {
        const tasks = document.getElementById('tasks');
        while (tasks.firstElementChild) {
            tasks.removeChild(tasks.firstElementChild);
        }

        labelsArrayFilter.forEach((taskName) => {
            const option = document.createElement('option');
            option.value = taskName;
            tasks.appendChild(option);
        })
    }

    addTasks();

    function showTask() {
        const yScale = myChart.config.options.scales.y;
        const minTask = document.getElementById('minTask').value;
        const maxTask = document.getElementById('maxTask').value;

        yScale.min = yScale.labels[minTask];
        yScale.max = yScale.labels[maxTask];
        myChart.update();
    }
</script>
</body>
</html>
