<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div id="menu" layout:fragment="menu">
    <div class="container">
        <div class="row menu-item">
            <a class="col text-decoration-none" th:href="@{/projects/home}">
                <i class="bi bi-house-door-fill"></i>
                ホーム
            </a>
        </div>
        <div class="row menu-item">
            <a class="col text-decoration-none" th:href="@{/projects/add}">
                <i class="bi bi-plus-lg"></i>
                課題の追加
            </a>
        </div>
        <div class="row menu-item">
            <a class="col text-decoration-none" th:href="@{/projects/find(status='0,1,2,3', priority='0,1,2')}">
                <i class="bi bi-card-list"></i>
                課題
            </a>
        </div>
        <div class="row menu-item">
            <a class="col text-decoration-none" th:href="@{/projects/setting}">
                <i class="bi bi-gear-fill"></i>
                プロジェクト設定
            </a>
        </div>
    </div>
</div>
</body>
</html>
