<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout-without-menu}">
lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロフィール｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <form class="container" th:action="@{/global/profile/save}" method="post" th:object="${userForm}">
        <h6>ユーザー情報</h6>
        <div class="row">
            <div class="col">
                <label>ユーザー名: </label>
                <input class="w-100" type="text" th:field="*{username}"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>メールアドレス: </label>
                <input class="w-100 form-control-plaintext" type="text" th:value="${email}" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>パスワード: </label>
                <input class="w-100" type="password" th:field="*{password}"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>パスワード(2回目): </label>
                <input class="w-100" type="password" th:field="*{confirmPassword}"/>
                <!--                <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"-->
                <!--                     class="text-danger"></div>-->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>権限: </label>
                <select th:field="*{authority}">
                    <option th:each="a : ${authorities}" th:value="${a}" th:text="${a}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>チーム: </label>
                <select th:field="*{teamId}">
                    <option th:each="team : ${teams}"
                            th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit">保存</button>
        </div>
    </form>

</div>
</body>
</html>