<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        lang="ja">

<head>
    <title>プロジェクトホーム｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header">
                    <h6 class="text-navy my-2">
                        ログイン情報
                    </h6>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ログインユーザ名</th>
                            <th>ユーザ権限</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${username}"></td>
                            <td th:text="${authority}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>