<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        lang="ja">

<head>
    <title>プロジェクト設定｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-navy my-2">
                            ユーザー
                        </h6>
                    </div>
                    <div class="card-body table-responsive">
                        <table id="user-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ユーザ名</th>
                                <th>Email</th>
                                <!--                            <th>性別</th>-->
                                <!--                            <th>権限</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}" th:object="${user}">
                                <td th:text="*{username}"></td>
                                <td th:text="*{email}"></td>
                                <!--                            <td th:text="${T(com.example.demo.util.Type).GENDERS.get(user.gender)}">-->
                                <!--                            </td>-->
                                <!--                            <td th:text="*{authority}"></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-navy my-2">
                            マイルストーン
                        </h6>
                    </div>
                    <a th:href="@{setting/new}">マイルストーンの追加</a>
                    <div class="card-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>説明</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="m : ${milestones}" th:object="${milestone}">
                                <td th:text="${m.name}"></td>
                                <td th:text="${m.description}"></td>
                                <td>

                                    <a th:href="@{/projects/{projectKey}/setting/edit/{id}(projectKey=${projectKey}, id=${m.id})}">編集</a>
                                    <form th:action="@{projects/{projectKey}/setting/delete/{id}(projectKey=${projectKey}, id=${m.id})}"
                                          method="post"
                                          style="display:inline;">
                                        <button type="submit" onclick="return confirm('削除しますか？')">削除</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

