<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout-without-menu}">
lang="ja">

<head>
    <title>スペース設定｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <h6 th:text="${user.id == null ? '新規作成' : '編集'}"></h6>

    <form th:action="@{/global/setting/user/save}"
          th:object="${user}"
          method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="redirectUrl"
               th:value="${user.id == null ? '/global/setting/user/new' : '/global/setting/user/edit/' + user.id}"/>
        <p>名前: <input type="text" th:field="*{username}" required/></p>
        <p>パスワード: <input type="password" th:field="*{password}" required/></p>
        <p>Email:
            <input type="text" th:field="*{email}" required/>
        </p>
        <p>
            <label for="authorities">権限: </label>
            <select id="authorities" th:field="*{authority}" required>
                <option th:each="a : ${authorities}" th:value="${a}" th:text="${a}"></option>
            </select>
        </p>
        <p>
            <label for="team">チーム:</label>
            <select id="team" th:field="*{team.id}" required>
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team.name}">
                </option>
            </select>
        </p>
        <p>
            <label for="projects" class="form-label">プロジェクト</label>
            <select id="projects" th:field="*{projects}" multiple class="form-select">
                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.name}">
                </option>
            </select>
            <small class="form-text text-muted">Ctrl (Cmd) を押しながら複数選択できます。</small>
        </p>
        <p>
            <button type="submit">保存</button>
        </p>
    </form>
    <div th:if="${messageUser}"
         th:class="'mt-4 mx-4 alert alert-dismissible fade show alert-' + ${alertTypeUser}"
         role="alert">
        <span th:text="${messageUser}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <a th:href="@{/projects/setting}">← 一覧に戻る</a>
</div>
</body>
</html>