<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout-without-menu}">
lang="ja">

<head>
    <meta charset="UTF-8">
    <title>スペース設定｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-navy my-2">
                            ユーザー
                        </h6>
                    </div>
                    <a th:href="@{/global/setting/user/new}" class="btn btn-primary btn-sm border-0"
                       style="background-color: #4CAF93; margin: 10px 600px 10px 10px">ユーザーの追加</a>
                    <div th:if="${messageUser}"
                         th:class="'mt-4 mx-4 alert alert-dismissible fade show alert-' + ${alertTypeUser}"
                         role="alert">
                        <span th:text="${messageUser}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="card-body table-responsive">
                        <table id="user-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>チーム</th>
                                <th>チームID</th>
                                <th>ユーザ名</th>
                                <th>Email</th>
                                <th>権限</th>
                                <th>参加プロジェクト</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}" th:object="${user}">
                                <td th:text="${user.team.name}"></td>
                                <td th:text="${user.team.id}"></td>
                                <td th:text="*{username}"></td>
                                <td th:text="*{email}"></td>
                                <td th:text="*{authority}"></td>
                                <td>
                                    <span th:each="project : *{projects}"
                                          th:text="${project.name + ', '}" />
                                </td>
                                <td>
                                    <a th:href="@{/global/setting/user/edit/{id}(id=${user.id})}"
                                       class="btn btn-secondary btn-sm border-0">編集</a>
                                    <form th:action="@{/global/setting/user/delete/{id}(id=${user.id})}"
                                          method="post"
                                          style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm border-0"
                                                onclick="return confirm('本当に削除しますか？')">削除
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-navy my-2">
                            チーム
                        </h6>
                    </div>
                    <a th:href="@{/global/setting/team/new}" class="btn btn-primary btn-sm border-0"
                       style="background-color: #4CAF93; margin: 10px 600px 10px 10px">チームの追加</a>
                    <div th:if="${messageTeam}"
                         th:class="'mt-4 mx-4 alert alert-dismissible fade show alert-' + ${alertTypeTeam}"
                         role="alert">
                        <span th:text="${messageTeam}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="card-body table-responsive">
                        <table id="team-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>チーム名</th>
                                <th>id</th>
                                <th>説明</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="team : ${teams}" th:object="${team}">
                                <td th:text="${team.name}"></td>
                                <td th:text="*{id}"></td>
                                <td th:text="*{description}"></td>
                                <td>
                                    <a th:href="@{/global/setting/team/edit/{id}(id=${team.id})}"
                                       class="btn btn-secondary btn-sm border-0"
                                       th:if="${team.name != '未設定'}">編集</a>
                                    <form th:action="@{/global/setting/team/delete/{id}(id=${team.id})}"
                                          method="post"
                                          style="display:inline;"
                                          th:if="${team.name != '未設定'}">
                                        <button type="submit" class="btn btn-danger btn-sm border-0"
                                                onclick="return confirm('本当に削除しますか？')">削除
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>