<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ja">
<head>
    <title>課題の表示｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div th:object="${issue}">
        <div class="container">
            <div class="row border">
                <p class="col-1" th:text="*{type}"></p>
                <p class="col-1" th:text="*{id}"></p>
                <p class="col"></p>
                <p class="col-1">期限日</p>
                <p class="col-2" th:text="*{limitDate}"></p>
                <p class="col-1" th:text="*{status}"></p>
            </div>
            <div class="row border">
                <p class="col text-start" th:text="*{title}"></p>
                <form class="col-1" th:action="${editUrl}" method="get">
                    <button type="submit" class="btn btn-primary">編集</button>
                </form>
                <div class="dropdown col-1">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="true">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{#}">複製</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{#}">削除</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row border">
                <i class="bi bi-emoji-laughing col-1"></i>
                <p class="col-1 text-start" th:text="*{voter.username}"></p>
            </div>
            <div class="row border">
                <p class="col text-start" th:text="*{#temporals.format(createAtJST(), 'yyyy/MM/dd HH:mm:ss')}"></p>
            </div>
            <div class="row border">
                <p th:text="*{description}"></p>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row border">
                        <p class="col-2" th:text="優先度"></p>
                        <p class="col-2" th:text="*{priority}"></p>
                        <div class="col"></div>
                        <p class="col-2" th:text="担当者"></p>
                        <p class="col-2" th:text="*{assigner?.username ?: ''}"></p>
                    </div>
                    <div class="row border">
                        <p class="col-2" th:text="カテゴリー"></p>
                        <p class="col-2" th:text="*{category?.name ?: ''}"></p>
                        <div class="col"></div>
                        <p class="col-2" th:text="マイルストーン"></p>
                        <p class="col-2" th:text="*{milestone?.name ?: ''}"></p>
                    </div>
                    <div class="row border">
                        <p class="col-2" th:text="発生バージョン"></p>
                        <p class="col-2" th:text="*{versions?.name ?: ''}"></p>
                        <div class="col"></div>
                    </div>
                    <div class="row border">
                        <p class="col-2" th:text="完了理由"></p>
                        <p class="col-2" th:text="*{resolution}"></p>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row border">
            <p class="col-1">コメント</p>
            <p class="col-1" th:text="${'(' + comments.size() + ')'}"></p>
        </div>
    </div>
    <div th:if="${comments.size() == 0}">
        コメントはまだありません。入力フォームからコメントできます。
    </div>
    <div class="container" th:if="${comments.size() > 0}">
        <div class="card">
            <div th:each="comment : ${comments}" class="card-body">
                <div class="row border">
                    <i class="bi bi-emoji-wink col-1"></i>
                    <p class="col-2" th:text="*{comment.commenter.username}"></p>
                    <p class="col" th:text="*{#temporals.format(comment.createAtJST(), 'yyyy/MM/dd HH:mm:ss')}"></p>
                </div>
                <div class="row border">
                    <div class="col-1"></div>
                    <p class="col" th:text="*{comment.comment}"></p>
                </div>
            </div>
        </div>
    </div>
    <form th:with="issueId=${issue.id}"
          th:action="@{/projects/view/addComment/{issueId}(issueId=${issueId})}"
          th:object="${newComment}"
          method="post"
          novalidate>
        <div>
            <input type="text"
                   placeholder="コメント (@を入力してメンバーに通知)"
                   th:field="*{comment}"/>
        </div>
        <div>
            <label for="status">状態</label>
            <select id="status" name="status">
                <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
            </select>
        </div>
        <div>
            <label for="assigner">担当者</label>
            <select id="assigner" name="assigner">
                <option th:each="user : ${users}" th:value="${user.id}"
                        th:text="${user.username}"></option>
            </select>
        </div>
        <div>
            <label for="milestone">マイルストーン</label>
            <select id="milestone" name="milestone">
                <option th:each="m : ${milestones}" th:value="${m.id}"
                        th:text="${m.name}"></option>
            </select>
        </div>
        <div>
            <label for="limitDate">期限日</label>
            <input type="date" id="limitDate" name="limitDate" th:value="${limitDate}"/>
        </div>
        <div>
            <label for="resolution">完了理由</label>
            <select id="resolution" name="resolution">
                <option th:each="r : ${resolutions}" th:value="${r}" th:text="${r}"></option>
            </select>
        </div>
        <button type="submit">
            登録
        </button>
    </form>
</div>
</body>
</html>

