<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>課題の表示｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div th:object="${issue}">
        <p th:text="*{type}"></p>
        <p th:text="*{status}"></p>
        <p th:text="*{id}"></p>
        <p th:text="*{title}"></p>
        <p th:text="*{description}"></p>
        <p th:text="*{priority}"></p>
        </p>
    </div>
</div>
</body>

</html>

