<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="ja">
<head>
    <title>課題の表示｜Backlog</title>
</head>

<body>
<div layout:fragment="content">
    <div th:object="${issue}" class="container">
        <div class="row border">
            <p class="col-1" th:text="*{type}"></p>
            <p class="col-1" th:text="*{id}"></p>
            <p class="col"></p>
            <p class="col-1">期限日</p>
            <p class="col-2" th:text="*{limitDate}"></p>
            <p class="col-1" th:text="*{status}"></p>
        </div>
        <div class="row border">
            <p class="col text-start" th:text="*{title}"></p>
            <form class="col-1" th:action="${editUrl}" method="get">
                <button type="submit" class="btn btn-primary">編集</button>
            </form>
            <div class="dropdown col-1">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="true">
                    <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" th:href="@{#}">複製</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{#}">削除</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:object="${issue}" class="container">
        <div class="row border">
            <i class="bi bi-emoji-laughing col-1"></i>
            <p class="col-1 text-start" th:text="*{voter.getUsername()}"></p>
        </div>
        <div class="row border">
            <p class="col text-start" th:text="*{#temporals.format(createAtJST(), 'yyyy/MM/dd HH:mm:ss')}"></p>
        </div>
        <div class="row border">
            <p th:text="*{description}"></p>
        </div>
    </div>
    <div th:object="${issue}">
        <div style="display: flex; justify-content: space-around">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th th:text="優先度"></th>
                    <td th:text="*{priority}"></td>
                </tr>
                <tr>
                    <th th:text="カテゴリー"></th>
                    <td th:text="*{category.getName()}"></td>
                </tr>
                <tr>
                    <th th:text="発生バージョン"></th>
                    <td th:text="*{versions}"></td>
                </tr>
                <tr>
                    <th th:text="完了理由"></th>
                    <td th:text="*{resolution}"></td>
                </tr>
                </tbody>
                <thead>
            </table>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th th:text="担当者"></th>
                    <td th:text="*{assigner.getUsername()}"></td>
                </tr>
                <tr>
                    <th th:text="マイルストーン"></th>
                    <td th:text="*{milestone.getName()}"></td>
                </tr>
                </tbody>
                <thead>
            </table>
        </div>
    </div>

    <div th:if="${comments.size() == 0}">
        コメントはまだありません。入力フォームからコメントできます。
    </div>

    <table th:if="${comments.size() > 0}"
           class="table table-bordered">
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="*{comment.comment}"></td>
            <td th:text="*{#temporals.format(comment.createAtJST(), 'yyyy/MM/dd HH:mm:ss')}"></td>
            <td th:text="*{#temporals.format(comment.createAtIST(), 'dd/MM/yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="card-body">
            <form th:with="issueId=${issue.id}"
                  th:action="@{/projects/view/addComment/{issueId}(issueId=${issueId})}"
                  th:object="${newComment}"
                  method="post"
                  novalidate>
                <div>
                    <input type="text"
                           placeholder="コメント (@を入力してメンバーに通知)"
                           th:field="*{comment}">
                </div>
                <button type="submit">
                    登録
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

