
.main {
    background-color: #F0F0F0;
    position: fixed;
    display: block;
    bottom: 0;
    top: 95px;
    margin-bottom: 58px;
    padding-left: 20px;
}

.main-header {
    background-color: white;
    position: fixed;
    display: block;
    bottom: 0;
    top: 46px;
    padding-left: 20px;
}

.menu-header-project-name {
    padding-top: 7px;
}

.footer {
    border: 2px solid;
}

