
.main {
    background-color: #F0F0F0;
    position: fixed;
    display: block;
    bottom: 0;
    top: 58px;
    margin-bottom: 58px;
    padding-left: 20px;
    border: 2px solid;
}

.footer {
    border: 2px solid;
}

