.header {
    background-color: #EDF4F0;
    height: 46px;
    padding: 8px;
}

.menu {
    background-color: #4CAF93;
    color: white;
    position: fixed;
    display: block;
    top: 50px;
    bottom: 0;
    left: 0;
    border: 2px solid;
    margin-bottom: 50px;
}

.main {
    background-color: #F0F0F0;
    position: fixed;
    display: block;
    bottom: 0;
    top: 58px;
    margin-bottom: 58px;
    padding-left: 20px;
    border: 2px solid;
}

.footer {
    border: 2px solid;
}

.footer {
    border: 2px solid;
}