<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="issue-form(issue)">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <select class="form-select form-select-sm" id="type" name="type">
                    <option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <input class="col form-control" style="margin: 12px" type="text" placeholder="件名" th:field="*{title}"
                   required/>
        </div>
        <div class="card">
            <div class="container">
                <div class="row">
                     <textarea class="col" placeholder="課題の詳細 (@を入力してメンバーに通知)"
                               th:field="*{description}"
                               rows="8"></textarea>
                </div>
                <div class="row">
                    <label class="col-2" for="status">状態</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="status" name="status">
                            <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
                        </select>
                    </div>
                    <label class="col-2 ms-auto" for="assigner">担当者</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="assigner" name="assigner">
                            <option th:each="user : ${users}" th:value="${user.id}"
                                    th:text="${user.username}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-2" for="priority">優先度</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="priority" name="priority">
                            <option th:each="p : ${priorities}" th:value="${p}"
                                    th:text="${p}"></option>
                        </select>
                    </div>
                    <label class="col-2" for="milestone">マイルストーン</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="milestone" name="milestone">
                            <option th:each="m : ${milestones}" th:value="${m.id}"
                                    th:text="${m.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-2" for="category">カテゴリー</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="category" name="category">
                            <option th:each="c : ${categories}" th:value="${c.id}"
                                    th:text="${c.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-2" for="versions">発生バージョン</label>
                    <div class="col-4">
                        <select class="form-select form-select-sm" id="versions" name="versions">
                            <option th:each="m : ${milestones}" th:value="${m.id}"
                                    th:text="${m.name}"></option>
                        </select>
                    </div>

                    <div class="row">
                        <label class="col-2" for="limitDate">期限日</label>
                        <div class="col-4">
                            <input class="form-control" type="date" id="limitDate" name="limitDate"
                                   th:value="${limitDate}"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                通知ユーザーを追加
            </div>
        </div>
    </div>
</body>
</html>

