<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ログインメッセージ -->
<div th:fragment="login">
    <div class="alert alert-danger" th:if="${param.error}">
        <small>ユーザ名またはパスワードが正しくありません</small>
    </div>
    <div class="alert alert-success" th:if="${param.register}">
        <small>ユーザを新規登録しました</small>
    </div>
    <div class="alert alert-success" th:if="${param.logout}">
        <small>ログアウトしました</small>
    </div>
</div>

<!-- エラーメッセージ(404 Not Foundなど) -->
<div th:fragment="error">
    <div class="text-center">
        <div class="display-1" th:text="${status}"></div>
        <div class="text-body-secondary mb-4" th:text="${error}"></div>

        <div class="text-body-secondary">ページを表示できません</div>
        <a th:href="@{/}">&larr; ホームに戻る</a>
    </div>
</div>

<!-- ログインメッセージ -->
<div th:fragment="setting">
    <div class="alert alert-danger" th:if="${param.error}">
        <small>マイルストーンが設定されている課題があるため削除できません。</small>
    </div>
</div>

</body>
</html>